.btn-primary {
  background-color: #2980b9;
  border-color: #2980b9;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #1a5276;
  border-color: #1a5276;
}
